go 1.26.1

use (
	./packages
	./iam
	./platform
	./audit
	./notify
	./export
	./scheduler
	./realtime-gw
	./eo-catalog
	./eo-pipeline
	./eo-analytics
	./sat-mission
	./sat-fsw
	./sat-telemetry
	./sat-command
	./sat-simulation
	./gs-mc
	./gs-rf
	./gs-scheduler
	./gs-ingest
	./gi-fusion
	./gi-analytics
	./gi-tiles
	./gi-reports
	./gi-predict
)
